@tailwind base; 
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: rgba(0, 0, 0, 0.486);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  overflow: hidden;
  height: 100lvh;
  user-select: none;
}
#root{
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #22C55E;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22C55E;
}



